.header-filter-panel {
    background-color: #e2e6ef;
    /*margin-bottom: 4px;*/
    height: 40px;
}
.content-padding-form {
    padding: 7px 0;
}
.panel-save-template {
    background-color: #fff;
    z-index: 999;
    position: absolute;
    bottom: 0px;
    width: 270px;
    padding: 10px;
    border: 1px solid #D3D8E1;
    height: 125px;
    display: none;
}
.panel-save-template button {
    width: 100%;
}
.new-filter-link:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

/* COLLAPSE */
.btn-collapse {
    position: absolute;
    z-index: 9;
    top: 12px;
    left: 8px
}
.header-collapse {
    position: absolute;
    top: 80px;
    left: -15px
}
.collapse-panel {
    width: 270px;
}
.collapse-panel.hidden {
    width: 40px;
    background-color: #fff;
    transition: width .10s ease-out;    
}
.collapse-panel.show {
    width: 270px;
    transition: width .15s ease-out;
}
.collapse-panel.hidden * {
    visibility: hidden;
}
.collapse-panel.show * {
    visibility: visible;
    transition: visibility .20s ease-out;
    transition-delay: .20s;
}
/* END COLLAPSE */
.filter-body > div {
    padding: 10px 0;
}
.filter-body > div > .with-search-panel {
    margin: 10px 0;
}
.filter-body > div > .without-search-panel {
    margin-bottom: 10px;
}