<div class="main-view-component">

    <div class="col border-right-1">

        <header class="main-content-header row">
            <div class="col-auto">
                <backward-button></backward-button>
            </div>
            <div class="col">
                <h3> Выберите отчет </h3>
            </div>
        </header>

        <div class="main-view-content">
            <div class="col-filter-ro5 border-right-1">
                <message-popup [(messages)]="errorsFilterPanel"></message-popup>
                <loader-ro5 [(loading)]="loadingFilterPanel"></loader-ro5>
                <list-view-ro5 #filterListView
                               [KeyField]="DirIdField"
                               [DisplayField]="'Name'"
                               [DataSource]="DirObjects"
                               [RowTemplate]="rowGroupTemplate"
                               [HeaderText]="'Группы отчетов'"
                               [IsFocused]="true"
                               (OnItemClick)="onDirClick($event)">

                    <ng-template #rowGroupTemplate let-item="item" let-id="id">
                        <div class="row no-gutters col-wrappanel align-items-center">
                            <div class="col">
                                <a [innerHtml]="item.Data[filterListView.DisplayField] | markerText:filterListView.SearchFilter"></a>
                            </div>
                            <div class="col-auto" *ngIf="item.Data[filterListView.KeyField] == -1">
                                <i class="zmdi zmdi-star"></i>
                            </div>
                            <div class="col-auto">
                                <i class="zmdi zmdi-chevron-right zmdi-hc-2x"></i>
                            </div>
                        </div>
                    </ng-template>
                </list-view-ro5>
            </div>
            <div class="col col-content-ro5">
                <message-popup [(messages)]="errorsContentPanel"></message-popup>
                <loader-ro5 [(loading)]="loadingContentPanel"></loader-ro5>
                <list-view-ro5 #contentListView
                               [KeyField]="'IdReport'"
                               [DisplayField]="'ReportTypeName'"
                               [RowTemplate]="rowTemplate"
                               [HeaderText]="'Отчеты'"
                               [DataSource]="ReportObjects"
                               (OnItemClick)="(lastRowReportClick || { IsFocused: false }).IsFocused = false;lastRowReportClick = $event;lastRowReportClick.IsFocused = true;">

                    <ng-template #rowTemplate let-item="item" let-rowId="rowId">
                        <div class="row">
                            <div class="col" (click)="onRowExpanded(item, rowId)">
                                <a [innerHtml]="item.Data[contentListView.DisplayField] | markerText:contentListView.SearchFilter"></a>
                            </div>
                            <div class="col-auto" *ngIf="item.Data.IsFavorite" (click)="onReportFavClick(item, $event)">
                                <i class="zmdi zmdi-star" placement="top" container="body" ngbTooltip="Удалить из избранного"></i>
                            </div>
                            <div class="col-auto" *ngIf="!item.Data.IsFavorite" (click)="onReportFavClick(item, $event)">
                                <i class="zmdi zmdi-star-outline" placement="top" container="body" ngbTooltip="В избранное"></i>
                            </div>
                        </div>
                        <div [attr.id]="rowId"
                             *ngIf="expandedRow.expandedRowId === rowId"
                             class="row" [ngClass]="{ 'collapse': !expandedRow.isExpanded, 'collapse show': expandedRow.isExpanded }" style="padding-top: 10px;">
                            <div class="col">
                                <ng-template [ngTemplateOutlet]="reportDetailesTemplate" [ngTemplateOutletContext]="{ item: item, rowId: rowId }">
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #reportDetailesTemplate let-item="item" let-rowId="rowId">

                        <div class="row no-gutters-2">
                            <div class="col details-row-view background">

                                <div class="row align-items-center border-bottom-1 report-create-setting-header">
                                    <div class="col">
                                        <h5>ПАРАМЕТРЫ ОТЧЕТА</h5>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn-outline-circle btn-circle-size-32" data-toggle="collapse" [attr.data-target]="'#' + rowId"
                                                (click)="onRowExpanded(item, rowId, $event)">
                                            <i class="zmdi zmdi-close"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row border-bottom-1">
                                    <div class="col-2" style="background-color: #EFECD6; display: flex; align-items: center">Название отчета</div>
                                    <div class="col-10" style="padding: 10px 10px">
                                        <input-box [placeholder]="'Значение...'" [(value)]="item.Data[JobNameField]"></input-box>
                                    </div>
                                </div>

                                <div class="row border-bottom-1" *ngFor="let sett of item.Data.Settings">
                                    <div class="col-2 detail-report-header">
                                        <span>{{ sett.Name }}</span>
                                    </div>
                                    <div class="col-10" style="padding: 10px 10px" [ngSwitch]="sett.EditorType">
                                        <date-picker-ro5 *ngSwitchCase="'IntervalDate'" [positionDiv]="'fixed'" [fastPanel]="true" [isVertical]="true" [isTimeShow]="false" [(fromDate)]="sett.Value.fromDate" [(toDate)]="sett.Value.toDate"></date-picker-ro5>
                                        <date-picker-ro5 *ngSwitchCase="'IntervalDateTime'" [positionDiv]="'fixed'" [fastPanel]="true" [isVertical]="true" [(fromDate)]="sett.Value.fromDate" [(toDate)]="sett.Value.toDate"></date-picker-ro5>
                                        <date-picker-ro5 *ngSwitchCase="'Date'" [positionDiv]="'fixed'" [isIntervalMode]="false" [isTimeShow]="false" [(fromDate)]="sett.Value"></date-picker-ro5>
                                        <date-picker-ro5 *ngSwitchCase="'Datetime'" [positionDiv]="'fixed'" [isIntervalMode]="false" [(fromDate)]="sett.Value"></date-picker-ro5>
                                        <date-picker-ro5 *ngSwitchCase="'Month'" [positionDiv]="'fixed'" [isMonthMode]="true" [(fromDate)]="sett.Value"></date-picker-ro5>

                                        <div *ngSwitchCase="'ListSingleSelect'">
                                            <check-box-ro5 *ngFor="let radio of singleSelectVals; index as i"
                                                           [label]="radio.DisplayText"
                                                           [typeInput]="'radio'"
                                                           [name]="'singleSelect'"
                                                           [checked]="radio.IsCheck"
                                                           (onClick)="onSingleSelectClick(sett, i)">
                                            </check-box-ro5>
                                        </div>
                                        <div *ngSwitchCase="'ListMultiSelect'">
                                            <check-box-ro5 *ngFor="let check of multiSelectVals; index as i"
                                                           [label]="check.DisplayText"
                                                           [checked]="check.IsCheck"
                                                           (onClick)="onMultiSelectClick(sett, i)">
                                            </check-box-ro5>
                                        </div>
                                        <div *ngSwitchCase="'Boolean'">
                                            <check-box-ro5 [checked]="sett.Value"
                                                           (onClick)="sett.Value = $event.checked">
                                            </check-box-ro5>
                                        </div>

                                        <input-box *ngSwitchCase="'String'" [placeholder]="'Значение...'" [(value)]="sett.Value"></input-box>
                                        <input-box *ngSwitchCase="'Int'" [placeholder]="'Значение...'" [type]="'number'" [(value)]="sett.Value"></input-box>
                                        <input-box *ngSwitchCase="'Float'" [placeholder]="'Значение...'" [type]="'number'" [(value)]="sett.Value"></input-box>

                                        <upload-file-ro5 *ngSwitchCase="'File'" (OnUpload)="sett.Value = $event"></upload-file-ro5>

                                        <div *ngSwitchDefault> ... </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2" style="background-color: #EFECD6;"></div>
                                    <div class="col-10" style="padding: 10px 10px">
                                        <div class="row no-gutters col-wrappanel">
                                            <div class="col-auto">
                                                <button type="button" class="btn button-apply" (click)="formReport(item)"> Сформировать отчет </button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" [attr.data-target]="'#' + rowId" (click)="onRowExpanded(item, rowId, $event)"> Отмена </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </ng-template>
                </list-view-ro5>

            </div>
        </div>

    </div>

    <div class="col-auto">

        <header class="main-content-header row">
            <div class="col-auto">
                <div class="row align-items-center" style="width:330px">
                    <div class="col">
                        <h4> Оборудование отчета </h4>
                    </div>
                    <!--<div class="col-auto" style="padding-right: 5px;">
                        <button type="button" (click)="clearAllBasket()" class="btn btn-outline-secondary"
                                style="border-color: #fff;color:#fff">
                            Сброс
                        </button>
                    </div>-->
                </div>
            </div>
        </header>

        <div class="col-objects-ro5">

            <message-popup [(messages)]="jobObjectErrors"></message-popup>
            <loader-ro5 [(loading)]="loadingRightPanel"></loader-ro5>

            <ng-container *ngIf="JobObjects != null">
                <frame-objects-panel #ObjectsPanel [DataSource]="JobObjects" [IsSelected]="true" [IsRemoved]="true" (OnRemoveListItem)="onRemoveJobObjects($event)"></frame-objects-panel>
            </ng-container>
                
            <ng-container *ngIf="Nodes != null">
                <treelist-checked-panel #treePanel
                                        [TabViewMode]="true"
                                        [TreeListItems]="treePanel.TreeListItems || treeListCheckedService.getTreeListItems(basketHeaderMenu)"
                                        [Tree]="Nodes | filterRow:changeDetection" 
                                        ChildDataName="LogicDevices" 
                                        KeyField="Id"
                                        DisplayField="DisplayName"
                                        AdditionalField="DisplayNameNodeView"
                                        (removeListItems)="removeListItems($event)"></treelist-checked-panel>    
            </ng-container>
        </div>

    </div>
</div>
