<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<header class="main-content-header row">
    <div class="col">
        <div class="row align-items-center">
            <div class="col">
                <h3>Журнал событий</h3>
            </div>            
        </div>
    </div>
</header>
<div class="main-view-content">
    <div class="col-filter-ro5 border-right-1">
        <frame-filters-custompanel
            #frameFiltersCustompanel
            (onApplyFilter)="onApplyFilter($event)"
            [service]="filtersContainerService"
            [isUseFavorite]="true"
            [isAsyncCallbackStart]="loadingContent">
        </frame-filters-custompanel>
    </div>

    <div class="col col-content-ro5 border-right-1">
        <header class="section-header-content row">
            <div class="col">
                <h5>События</h5>
            </div>
            <div class="col-auto">
              <button-ro5 class="btn-outline-secondary" (onclick)="Ro5DataGrid.exportToExcel()">
                  {{ Ro5DataGrid.SelectionRow?.isItemsSelect ? 'Экспорт выбранных в Excel' : 'Экспорт в Excel' }}
              </button-ro5>
            </div>
        </header>

        <data-grid-ro5 #Ro5DataGrid 
          [HeaderActionTemplate]="headerActionTemplate"
          (onActionButtonClicked)="onActionButtonClicked($event)">
          <ng-template #headerActionTemplate>          
            <div class="row no-gutters-2" *ngIf="Ro5DataGrid.SelectionRow?.isItemsSelect">
              <div class="col-auto">
                <!-- <dropdown-box-ro5 
                  [keyField]="'code'" 
                  [valueField]="'name'" 
                  [itemsInput]="commandsActionSchedule"
                  [buttonText]="'Действия'"
                  [isSearch]="false"
                  (itemEvent)="itemActionEvent($event)">
                </dropdown-box-ro5> -->
                <ng-template #popContent>
                  <ng-container [ngSwitch]="menuConfirmItem == null">
                    <ng-container *ngSwitchCase="true">
                      <a *ngFor="let menuItem of commandsActionSchedule" 
                        class="dropdown-item"
                        (click)="menuConfirmItem = menuItem;$event.stopPropagation();"
                        [innerHtml]="menuItem.name">                                                        
                      </a>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <div class="row no-gutters" style="margin: 15px 0">
                        <div class="col">
                          {{ 'Вы уверены, что хотите "' + menuConfirmItem.name + '" события' }}
                        </div>
                      </div>
                      <div class="row no-gutters col-wrappanel" style="flex-wrap: nowrap;">
                          <div class="col-auto">
                              <button type="button" class="btn btn-primary" 
                                (click)="itemActionEvent();popUpActionButton.close()">
                                  {{ menuConfirmItem.name.split(' ')[0] }}
                              </button>
                          </div>
                          <div class="col-auto">
                              <button type="button" class="btn btn-outline-secondary" (click)="popUpActionButton.close()">
                                  Отмена
                              </button>
                          </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  
                </ng-template>
                <button-ro5 
                  [style.display]="commandsActionSchedule?.length ? 'block' : 'none'"
                  class="btn-outline-secondary" 
                  container="body" 
                  placement="bottom auto"
                  #popUpActionButton="ngbPopover" 
                  [ngbPopover]="popContent" 
                  [autoClose]="'outside'" 
                  triggers="manual"
                  (hidden)="menuConfirmItem = null"
                  (click)="popUpActionButton.open();$event.stopPropagation();">
                  Действия
                  &nbsp;&nbsp;&nbsp;
                  <i class="zmdi zmdi-caret-down"></i>
                </button-ro5>
              </div>
            </div>
          </ng-template>
            <ng-template #logicDeviceCellTemplate let-item="item" let-column="column">
              <ng-template #disabledLdLink>
                <a [innerHTML]="item[column.Name]?.DisplayText | markerText:dataGrid.SearchFilter"></a>
              </ng-template>
              <a  *appCanAccess="'OC_VIEW_EQUIPMENT_CARD'; else disabledLdLink" 
                  [routerLink]="['/ld-editor/', item?.IdLogicDevice?.Id]"
                  [innerHTML]="item[column.Name]?.DisplayText | pipeNoName | markerText:dataGrid.SearchFilter"></a>
            </ng-template>
            <ng-template #tagCellTemplate let-item="item" let-column="column">
              <p *ngIf="item[column.Name]">
                <span [innerHtml]="item[column.Name]?.Code + ' ' | markerText:dataGrid.SearchFilter"></span>&nbsp;
                <span class="text-info-additional" [innerHtml]="item[column.Name]?.Name | markerText:dataGrid.SearchFilter"></span>                
              </p>
          </ng-template>
          <ng-template #userCellTemplate let-item="item" let-column="column">
            <span [title]="item[column.Name]?.Name" [innerHTML]="item[column.Name]?.Name | markerText: dataGrid.SearchFilter">
            </span>
          </ng-template>
          <ng-template #subsystemCellTemplate let-item="item" let-column="column">
            <span [title]="item[column.Name]?.Name" [innerHTML]="item[column.Name]?.Name | markerText: dataGrid.SearchFilter">
            </span>
          </ng-template>
          <ng-template #stateCellTemplate let-item="item" let-column="column">
            <span class="js-events-state"
            [title]="item[column.Name]?.Code" 
            [ngClass]="{
              'js-events-state__normal': item[column.Name]?.Code == 'Normal',
              'js-events-state__warning': item[column.Name]?.Code == 'Warning',
              'js-events-state__danger': item[column.Name]?.Code == 'Alert'}">
            </span>
          </ng-template>
          <ng-template #acknowledgedCellTemplate let-item="item" let-column="column">
            <span 
            [title]="((item[column.Name] === 'Нет' || item['IdUserAcknowledge']) ? item[column.Name] : '')"
            [innerHTML]="((item[column.Name] === 'Нет' || item['IdUserAcknowledge']) ? item[column.Name] : '') | markerText: dataGrid.SearchFilter">
            </span>
          </ng-template>
          <ng-template #dateAcknowledgedCellTemplate let-item="item" let-column="column">
            <span 
            [title] = "((item['Acknowledged'] === 'Нет' || item['IdUserAcknowledge']) ? item[column.Name] : '') | dateTimeFormat"
            [innerHTML]="((item['Acknowledged'] === 'Нет' || item['IdUserAcknowledge']) ? item[column.Name] : '') | dateTimeFormat | markerText: dataGrid.SearchFilter">
            </span>
          </ng-template>
        </data-grid-ro5>
    </div>
</div>