.logic-parent {
    overflow-y: auto;
}

.confirm-remove {
    font-size: 14px;
    &-text {
        margin: 15px 0;
    }

    &-cancel {
        margin-left: 10px;
    }
}

.delete-btn {
    display: inline-block;
}

.tags-container {
    margin-left: 10px;
    margin-right: 10px;
}

.tags-header {
    cursor: pointer;
}

.list-view-container {
    overflow: hidden !important;
}