<div class="main-view-content height-auto">
    <message-popup [(messages)]="errors"></message-popup>
    <loader-ro5 [(loading)]="loadingContent"></loader-ro5>
    <div class="col col-content-ro5 border-right-1">
        <header class="section-header-content row">
            <div class="col-auto">
                <h5> Параметры </h5>
            </div>
            <div class="col"></div>
            <div class="col-auto" *appCanAccess="permission">
                <button-ro5 [class]="'btn btn-primary'" (onclick)="addParameter()">
                    + Добавить параметр
                </button-ro5>
            </div>
        </header>
        <div class="main-view-content height-auto">
            <div class="col col-content-ro5 border-right-1">
                <data-grid-ro5 #Ro5DataGrid 
                    (onActionButtonClicked)="onDGRowActionBtnClick($event)">
                    
                    <ng-template #cellNameParam let-item="item">
                        <a 
                        [routerLink] = "isDeviceType() ? ['/commands-module/p/types-devices/' + idDeviceType + '/command/' + commandId + '/parameters/' + item.Id + '/property'] 
                                    : ['/commands-module/p/types-commands-logic-devices/' + commandId + '/parameters/' + item.Id]"
                            [innerHTML]="item?.Name | markerText:dataGrid.SearchFilter"></a>
                    </ng-template>

                    <ng-template #cellValueParam let-item="item">
                        <span [innerHTML]="item?.ValueType?.Name | pipeNoName | markerText:dataGrid.SearchFilter"></span>
                    </ng-template>

                </data-grid-ro5>
            </div>
        </div>
    </div>
</div>