<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<div class="main-view-content">

    <div class="col col-content-ro5 border-right-1">
        <header class="section-header-content row">
            <div class="col-auto">
                <h5>Виды оборудования</h5>
            </div>
            <div class="col"></div>
            <div class="col-auto" *appCanAccess="'CFG_LOGIC_DEVICE_EDIT_KINDS'">
                <button-ro5 [class]="'btn btn-primary'" (onclick)="addNewDevice()">
                    + Добавить
                </button-ro5>
            </div>
        </header>

        <data-grid-ro5 #Ro5DataGrid (onActionButtonClicked)="onActionButtonClicked($event)">            
            <ng-template #typeNameColumnTemplate let-item="item">
                <a [routerLink]="[
                        '../../' + logicDeviceId + '/kinds/' + item.Id
                    ]" [innerHTML]="item.Name | markerText: dataGrid.SearchFilter">
                </a>
            </ng-template>
        </data-grid-ro5>
    </div>
</div>