.col-objects-ro5 {
    height: calc(100% - 50px); 
}
.button-settemplate-left {
    height: 40px; 
    width: 250px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-settemplate-right {
    height: 40px;
    width: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.footer-panel-container {
    width: 300px;
    height: 100%;
    float: right;
}