<div class="main-view-content height-auto">
    <message-popup [(messages)]="errors"></message-popup>
    <loader-ro5 [(loading)]="loadingContent"></loader-ro5>
    <div class="col col-content-ro5 border-right-1">
        <header class="section-header-content row">
            <div class="col-auto">
                <h5> Команды </h5>
            </div>
            <div class="col"></div>
            <div class="col-auto" *appCanAccess="'CFG_DEVICE_EDIT_COMMANDS'">
                <button-ro5 [class]="'btn btn-primary'" (onclick)="addCommand()">
                    + Добавить команду
                </button-ro5>
            </div>
        </header>
        <div class="main-view-content height-auto">
            <div class="col col-content-ro5 border-right-1">
                <data-grid-ro5 #Ro5DataGrid 
                    (onActionButtonClicked)="onDGRowActionBtnClick($event)">
                    
                    <ng-template #cellTypeCommand let-item="item">
                        <ng-template #disabledLink>
                          <a [innerHTML]="item?.DeviceCommandType?.Name | pipeNoName | markerText:dataGrid.SearchFilter"></a>
                        </ng-template>
                        <a *appCanAccess="'CFG_DEVICE_VIEW_COMMANDS'; else disabledLink" 
                          [routerLink]="['/commands-module/c/types-devices/' + deviceTypeId + '/command/' + item.Id]"
                            [innerHTML]="item?.DeviceCommandType?.Name | pipeNoName| markerText:dataGrid.SearchFilter"></a>
                    </ng-template>

                    <ng-template #cellTypeChannel let-item="item">
                        <span [innerHTML]="item?.DeviceChannelType?.Name | pipeNoName | markerText:dataGrid.SearchFilter"></span>
                    </ng-template>

                </data-grid-ro5>
            </div>
        </div>
    </div>
</div>