<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<header class="main-content-header row">
  <div class="col">
    <div class="row align-items-center">
      <div class="col">
        <h3>Гарантирующие поставщики</h3>
      </div>
    </div>
  </div>
</header>
<div class="main-view-content">
  <div class="col col-content-ro5 border-right-1">
    <header class="section-header-content row">
      <div class="col-auto">
        <h5>Гарантирующие поставщики</h5>
      </div>
      <div class="col"></div>
      <div class="col-auto" *appCanAccess="'TC_SUPPLIER_REPLACE'">
        <button-ro5 [class]="'btn btn-primary'" (onclick)="changeSupplier()">
          Замена
        </button-ro5>
      </div>
      <div class="col-auto" *appCanAccess="'TC_SUPPLIER_ADD'">
        <button-ro5 [class]="'btn btn-primary'" (onclick)="addNewSupplier()">
          + Добавить
        </button-ro5>
      </div>
    </header>

    <data-grid-ro5
      #Ro5DataGrid
      (onActionButtonClicked)="onActionButtonClicked($event)"
    >
      <ng-template #typeNameColumnTemplate let-item="item">
        <a
          [routerLink]="['../../tariff-calc/suppliers/' + item.Id]"
          [innerHTML]="item.Name | markerText: dataGrid.SearchFilter"
        >
        </a>
      </ng-template>
      <ng-template #regionColumnTemplate let-item="item">
        <div class="row">
          <div class="col">
            <span [innerHTML]="item?.Region?.Code | markerText: dataGrid.SearchFilter">              
            </span>    
            &nbsp;        
            <span class="text-info-additional"
              [innerHTML]="item?.Region?.Name | markerText: dataGrid.SearchFilter">
            </span>            
          </div>
        </div>
      </ng-template>
    </data-grid-ro5>
  </div>
</div>
