<header *ngIf="!hideHeader" class="row no-gutters-2 section-header-content rom-sub-header">
  <div class="col">
    <navigate-menu-ro5 [items]="navItems" [isTabView]="true" (onNavSelectChanged)="navClick($event)">
    </navigate-menu-ro5>
  </div>
</header>
<div class="main-view-content">
  <loader-ro5 [(loading)]="loadingContentPanel"></loader-ro5>
  <message-popup [(messages)]="errorsContentValidationForms"></message-popup>
  <div class="col col-content-ro5 col-content-flex-column"
    [ngStyle]="{'height': params?.componentHeight ? params?.componentHeight +'px': 'auto'}">
    <div class="section-body-content" #parent>
      <data-grid-ro5 #Ro5DataGrid [ParentElementRef]="params?.componentHeight != null ? parent : null">
        <ng-template #cellMessageType let-item="item">
          <div class="row no-gutters">
            <div class="col">
              <div *ngIf="item.LogLevel.Code == 'Error'" class="rom-alert-error">
              </div>
              <div *ngIf="item.LogLevel.Code == 'Warning'" class="rom-alert-warn">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #cellDatetime let-item="item">
          <div class="row no-gutters">
            <div class="col-auto">
              <div [innerHTML]="item.DateTime | dateFormat | markerText:dataGrid.SearchFilter"></div>
            </div>
            <div>&nbsp;</div>
            <div class="col-auto">
              <div [innerHTML]="item.DateTime | date:'HH:mm:ss' | markerText:dataGrid.SearchFilter"></div>
            </div>
          </div>
        </ng-template>
      </data-grid-ro5>
    </div>
  </div>
</div>