<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<ahm-shared-properties
    #propControl
    permission="HH_NODE_EDIT"
    [isNew]="isNew"    
    [isBackTwo]="true"
    [showHeaderPropertyEdit]="!isDetailRowMode"
    [properties]="properties"
    [template]="templateCategories"
    (optionControlDropDown)="optionControlDropDown($event)"
    (save)="save($event, propControl)"
    [errorLoadEntity]="errorLoadEntity">
</ahm-shared-properties>
<ng-template #templateCategories let-edit="edit">
    <ng-container *ngFor="let propCat of propertyCategories; let i=index;">
        <header *ngIf="edit || propCat.isOnePropNotNull" class="section-header-grouppanel-expander row no-gutters border-bottom-1">
            <div class="col">
                <h5> {{ propCat.Name }} </h5>
            </div>
            <div class="col-auto">
                <button data-toggle="collapse" [attr.data-target]="'#propertyCategorySection' + i"
                    [attr.aria-controls]="'#propertyCategorySection' + i"
                    class="btn-outline-circle transform-rotate-show btn-circle-size-32">
                    <i class="zmdi zmdi-chevron-right"></i>
                </button>
            </div>
        </header>

        <section [attr.id]="'propertyCategorySection' + i" class="collapse show">
            <properties-editor-panel 
                (init)="initPropertyCategoriesPanel(propCat, $event)"
                [properties]="propCat.Properties" 
                [isEdit]="propControl.isPropEdit">
            </properties-editor-panel>
        </section>
    </ng-container>
</ng-template>