<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<div class="main-view-content height-auto main-view-result">
    <div class="col col-content-ro5">

        <ng-container *ngIf="errorLoadEntity != null">
            <div class="row no-gutters-2 justify-content-center message-margin__top_bottom">
                <div class="col-auto">
                    <h4>{{ errorLoadEntity.ShortMessage }}</h4>
                </div>
            </div>
            <div class="row no-gutters-2 justify-content-center">
                <div class="col-auto">
                    <button-ro5 [class]="'btn-outline-secondary'" (onclick)="back2Objects()">
                        {{'ReturnToPrevPage' | transloco}}
                    </button-ro5>
                </div>
            </div>
        </ng-container>

        <div class="col-content-flex-column" *ngIf="errorLoadEntity == null">
            <section class="section-body-content section-panel-two-columns-settings">
                <header *ngIf="showHeaderPropertyEdit" class="section-header-grouppanel-expander row no-gutters border-bottom-1">
                    <div class="col">
                        <h5>{{'Properties' | transloco}}</h5>
                    </div>
                    <div class="col-auto" [ngSwitch]="isPropEdit">
                        <ng-container *ngSwitchCase="true">
                            <button-ro5 *ngIf="!isNew" [class]="'btn-outline-secondary'" (onclick)="cancel()">
                                {{'CancelChanges' | transloco}}
                            </button-ro5>
                        </ng-container>
                        <ng-container *ngSwitchCase="false">
                            <button-ro5 *appCanAccess="'CPA_EDIT_APP'" class="btn-primary" (onclick)="changeProperties()">
                                {{'Change' | transloco}}
                            </button-ro5>
                        </ng-container>                        
                    </div>
                </header>

                <section id="propertySection" class="collapse show">

                    <section class="section-panel-two-columns-settings" *ngIf="_properties">
                        <div class="row no-gutters-2 border-bottom-1" *ngFor="let prop of _properties;let i= index">
                            <div class="col-2">
                                <span> {{ prop.Name }} </span><span *ngIf="isPropEdit && prop.IsRequired" class="error-required-color">&nbsp;*</span>
                            </div>
                            <div class="col-10 word-break-all">
                                <ng-container [ngSwitch]="isPropEdit && !prop.ReadOnly">

                                    <ng-container *ngSwitchCase="true">
                                        <ng-container [ngSwitch]="prop.Type">
                                            <input-box *ngSwitchCase="'String'" 
                                                [placeholder]="'EnterName' | transloco"
                                                [(value)]="prop.Value"
                                                [isFocus] = "i === indexTypestring" 
                                                [maxlength]="90"></input-box>

                                            <input-box *ngSwitchCase="'Float'" 
                                                [type]="'float'"
                                                [placeholder]="'EnterName' | transloco"
                                                [(value)]="prop.Value"
                                                [isFocus] = "i === indexTypestring"></input-box>

                                            <input-box *ngSwitchCase="'Integer'" 
                                                [type]="'number'"
                                                [placeholder]="'EnterName' | transloco"
                                                [(value)]="prop.Value"
                                                [isFocus] = "i === indexTypestring"></input-box>
                                            
                                            <textarea 
                                                *ngSwitchCase="'MultiString'" 
                                                maxlength="300"
                                                class="form-control"
                                                [(ngModel)]="prop.Value"
                                                [placeholder]="prop.Name"></textarea>

                                            <combo-box-ro5 *ngSwitchCase="'Option'"
                                                [keyField]="'Id'"
                                                [valueField]="'Name'"
                                                [value]="prop.Value"
                                                [itemsInput]="prop.arrayValues"
                                                (onSelected)="prop.Value = $event; cascadePropertyChange(prop); onSelect(prop);"
                                                (event)="eventDropDown($event, prop)"></combo-box-ro5>


                                            <chips-ro5
                                                [initialItems]="getNames(prop.Value)"
                                                [itemsInput]="getNames(prop.arrayValues)" 
                                                (event)="eventDropDown($event, prop)" 
                                                *ngSwitchCase="'Chips'" #chipsTagsControl>
                                            </chips-ro5>


                                            <toggle-switch *ngSwitchCase="'Bool'" 
                                                [checked]="prop.Value"
                                                [checkedRunnerColorClass]="'runner-color-checked-green'"
                                                [checkedSliderColorClass]="'slider-color-checked-green'"
                                                (onCheck)="prop.Value = $event"></toggle-switch>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="false">
                                        <ng-container [ngSwitch]="prop.Type">
                                            <div *ngSwitchCase="'Bool'">
                                                {{ prop.Value ? ('Yes' | transloco) : ('No' | transloco) }}
                                            </div>
                                            <div *ngSwitchCase="'Option'">
                                                {{ prop.Value?.Name }}
                                            </div>
                                            <div *ngSwitchCase="'Chips'">
                                                <span *ngFor="let item of prop?.Value; let i=index" 
                                                    [innerHTML] = "(item?.Name + (i != (prop?.Value?.length - 1) ? ', ' : ''))">
                                                </span>
                                            </div>
                                            <div *ngSwitchDefault>
                                                {{ prop.Value || prop.IsNullName }}
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                    

                                </ng-container>
                            </div>
                        </div>

                        <ng-content></ng-content>
                    </section>
                    
                    <ng-template
                        [ngTemplateOutlet]="template"
                        [ngTemplateOutletContext]="{ edit: isPropEdit }">
                    </ng-template>                    

                </section>
            </section>

            <footer class="section-footer-content" *ngIf="isPropEdit">
                <div class="row no-gutters-2 align-items-center">
                    <div class="col">
                        <div class="row no-gutters col-wrappanel align-items-center">
                            <div class="col-auto">
                                <button-ro5 [class]="'btn-primary'" (onclick)="saveEntity()">                                    
                                    {{ 'Save' | transloco }}
                                </button-ro5>
                            </div>
                            <div class="col-auto">
                                <button-ro5 [class]="'btn-outline-secondary'" (onclick)="cancel()">
                                    {{'Cancelation' | transloco}}
                                </button-ro5>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>