<div class="main-view-component">

    <div class="col border-right-1">

        <header class="main-content-header row">
            <div class="col-auto">
                <backward-button></backward-button>
            </div>
            <div class="col">
                <h3 *ngIf="isNew">Новый шаг для "Запросов"</h3>
                <h3 *ngIf="!isNew">Шаг для "Запросов"</h3>
            </div>
        </header>

        <div class="main-view-content">            
            <div class="col col-content-ro5">
                <message-popup [(messages)]="errors"></message-popup>
                <loader-ro5 [(loading)]="loadingContentPanel"></loader-ro5>

                <div class="col-content-flex-column">

                    <section class="section-body-content section-panel-two-columns-settings" *ngIf="scheduleStep != null">

                        <header class="row no-gutters-2 section-header-grouppanel-expander">
                            <div class="col">
                                <h5>Параметры запроса</h5>
                            </div>                            
                        </header>
                        <div class="row no-gutters-2 border-bottom-1">
                            <div class="col-2"><h6>Название запроса</h6></div>
                            <div class="col">
                                <input-box [placeholder]="'Название'" [maxlength]="128" [(value)]="scheduleStep.Name"></input-box>
                            </div>
                        </div> 
                        <div class="row no-gutters-2 border-bottom-1">
                            <div class="col-2"><h6>Глубина забора данных</h6></div>
                            <div class="col input-depth-panel">
                                <div class="row no-gutters col-wrappanel">
                                    <div class="col-auto">
                                        <check-box-ro5 [typeInput]="'radio'"
                                            [name]="'radio_interval'"
                                            [checked]="scheduleStep.DataQuery.DateRange.DateRangeType === 'Dynamic'"
                                            [label]="'Динамически'"
                                            (onClick)="scheduleStep.DataQuery.DateRange.DateRangeType = 'Dynamic'"></check-box-ro5>
                                    </div>
                                    <div class="col-auto">
                                        <check-box-ro5 [typeInput]="'radio'"
                                            [name]="'radio_interval'"
                                            [checked]="scheduleStep.DataQuery.DateRange.DateRangeType === 'Static'"
                                            [label]="'Статически'"
                                            (onClick)="scheduleStep.DataQuery.DateRange.DateRangeType = 'Static'"></check-box-ro5>
                                    </div>
                                </div>
                                <div *ngIf="scheduleStep.DataQuery.DateRange.DateRangeType === 'Dynamic'" class="row no-gutters col-wrappanel align-items-center">
                                    <div class="col-auto">Последние</div>
                                    <div class="col-auto input">
                                        <input-box
                                            [isFocus]="true"
                                            [type]="'number'"
                                            [(value)]="scheduleStep.DataQuery.DateRange.DateTimeDepth.DepthValue"
                                            [min]="1"
                                            [max]="31">
                                        </input-box>
                                    </div>  
                                    <div class="col-auto">
                                        <combo-box-ro5
                                            [keyField]="'Code'"
                                            [valueField]="'Name'"
                                            [itemsInput]="datetimeDepthTypes"
                                            [value]="scheduleStep.DataQuery.DateRange.DateTimeDepth.Type"
                                            [placeholder]="'Интервал...'"
                                            (onSelected)="scheduleStep.DataQuery.DateRange.DateTimeDepth.Type = $event;">
                                        </combo-box-ro5>
                                    </div>                                    
                                </div>
                                <div *ngIf="scheduleStep.DataQuery.DateRange.DateRangeType === 'Static'" class="row no-gutters col-wrappanel">
                                    <div class="col-auto">
                                        <date-picker-ro5 #calendarSettings
                                            [(fromDate)]="scheduleStep.DataQuery.DateRange.StartDate" 
                                            [(toDate)]="scheduleStep.DataQuery.DateRange.EndDate" 
                                            [fastPanel]="false"></date-picker-ro5>
                                    </div>                                    
                                </div>
                            </div>
                        </div>                                               
                        <ng-container *ngIf="queryTypeTags != null">
                            <rom-query-type-tags #queryTypeTagsControl [queryTypeTags]="queryTypeTags"></rom-query-type-tags>    
                        </ng-container>
                        

                    </section>

                    <footer class="section-footer-content" *ngIf="scheduleStep != null">
                        <div class="row no-gutters col-wrappanel align-items-center margin-left-5">
                            <div class="col-auto" *appCanAccess="isNew ? 'SDL_STEP_CREATE' : 'SDL_STEP_EDIT'">
                                <button-ro5 [class]="'btn-primary'" (onclick)="save()" [disabled]="loadingBasket">
                                    Сохранить
                                </button-ro5>
                            </div>
                            <div class="col-auto">
                                <button-ro5 [class]="'btn-outline-secondary'" (onclick)="cancel()" [disabled]="loadingBasket">
                                    Отмeна
                                </button-ro5>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>
        </div>

    </div>
</div>
