<div class="main-view-component">

    <div class="col border-right-1">

        <header class="main-content-header row">
            <div class="col-auto">
                <backward-button></backward-button>
            </div>
            <div class="col">
                <h3>Новый анализ данных</h3>
            </div>
        </header>

        <div class="main-view-content">            
            <div class="col col-content-ro5">
                <message-popup [(messages)]="errorsContentValidationForms"></message-popup>
                <loader-ro5 [(loading)]="loadingContentPanel"></loader-ro5>

                <div class="col-content-flex-column">

                    <section class="section-body-content section-panel-two-columns-settings">

                        <header class="row no-gutters-2 section-header-grouppanel-expander">
                            <div class="col">
                                <h5>Параметры анализа</h5>
                            </div>                            
                        </header>
                        <div class="row no-gutters-2 border-bottom-1">
                            <div class="col-2"><h6>Период</h6></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="date-group-control">
                                            <div class="row">
                                                <div class="col">
                                                    <date-picker-ro5 #calendarSettings
                                                                     [(fromDate)]="JobSetting.DateStart" 
                                                                     [(toDate)]="JobSetting.DateEnd" 
                                                                     [fastPanel]="true"></date-picker-ro5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters-2 border-bottom-1">
                            <div class="col-2"><h6>Название анализа</h6></div>
                            <div class="col">
                                <input-box [placeholder]="'Название'" [maxlength]="128" [(value)]="JobSetting.JobName"></input-box>
                            </div>
                        </div>
                        <div class="row no-gutters-2 border-bottom-1">
                            <div class="col-2"><h6>Припуск</h6></div>
                            <div class="col">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <input-box class="allowance-input-width"
                                                   [placeholder]="'Не учитывать'"
                                                   [maxlength]="3"
                                                   [type]="'number'"
                                                   [min]="0"
                                                   [(value)]="JobSetting.Allowance"></input-box>
                                    </div>
                                    <div class="col-auto">
                                        <span>&nbsp;&nbsp;сек.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <header class="row no-gutters-2 section-header-grouppanel-expander">
                            <div class="col">
                                <h5>Инциденты</h5>
                            </div>
                        </header>

                        <div class="row no-gutters-2 border-bottom-1" *ngFor="let item of JobSetting.Issues">
                            <div class="col-2"><h6>{{item.Name}}</h6></div>
                            <div class="col" [ngClass]="{'details-row-view background': isIssueEdit(item) }">
                                <!--Tags View-->
                                <table class="view-tag-panel"
                                       [ngStyle]="{'display': isIssueEdit(item) ? 'none' : '' }">
                                    <tbody>
                                        <tr *ngFor="let tag of getTagsChecked(item)" class="item-row-checkbox">
                                            <td>
                                                <span class="tag-info-label">
                                                    {{tag.Code}}
                                                </span>
                                                <span class="text-info-additional">
                                                    {{ tag.Name }}
                                                </span>
                                                <ng-container *ngFor="let setting of tag.IssueTagSettings">
                                                    <table *ngIf="setting.Value != null && setting.Value != ''">
                                                        <tr>
                                                            <td>
                                                                {{setting.Name}}
                                                            </td>
                                                            <td>
                                                                {{setting.Value}}
                                                            </td>
                                                            <td>
                                                                {{setting.UnitName}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <button type="button" class="btn-outline-circle btn-circle-size-32" placement="top" container="body" ngbTooltip="Удалить" (click)="onClickedRemove(tag, $event, item)">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--Tags Edit-->
                                <div [attr.id]="'folder' + item.Id" class="collapse">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <div class="row no-gutters align-items-center edit-issue-header">
                                                <div class="col">
                                                    <h5>{{ item.Caption }}</h5>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" class="btn-outline-circle btn-circle-size-32" data-toggle="collapse" [attr.data-target]="'#folder' + item.Id" (click)="onClickedCancel(item)">
                                                        <i class="zmdi zmdi-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <!--Tags-->
                                                    <table class="editTagPanel">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="row no-gutters align-items-end item-row-checkbox" (click)="allTagsClick(item)">
                                                                        <div class="col-auto">
                                                                            <check-box-ro5 class="tag-info-label" [label]="'Все'" [indeterminate]="item.Indeterminate" [checked]="item.IsCheck"></check-box-ro5>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr *ngFor="let tag of item.Tags">
                                                                <td>
                                                                    <div class="row no-gutters col-wrappanel align-items-end item-row-checkbox" (click)="tag.IsCheck = !tag.IsCheck;issueTagCheckChange(item)">
                                                                        <div class="col-auto">
                                                                            <check-box-ro5 class="tag-info-label" [label]="tag.Code" [checked]="tag.IsCheck"></check-box-ro5>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <span class="text-info-additional">
                                                                                {{tag.Name}}
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <ng-container *ngIf="(tag.IssueTagSettings || []).length === 2; else oneSettings">
                                                                        <div class="row no-gutters col-wrappanel align-items-center" style="margin-bottom: 5px">
                                                                            <div class="col-7" [ngSwitch]="tag.IssueTagSettings[0].EditorType">
                                                                                <input-box *ngSwitchCase="'NumberInput'"
                                                                                           [placeholder]="tag.IssueTagSettings[0].Name"
                                                                                           [maxlength]="16"
                                                                                           [min]="0"
                                                                                           [max]="tag.IssueTagSettings[1].Value"
                                                                                           [type]="'float'"
                                                                                           [(value)]="tag.IssueTagSettings[0].Value"
                                                                                           (valueChange)="onTagValueChange($event, tag);issueTagCheckChange(item)"></input-box>

                                                                            </div>
                                                                            <div class="col-auto">
                                                                                {{tag.IssueTagSettings[0].UnitName}}
                                                                            </div>
                                                                        </div>    
                                                                        <div class="row no-gutters col-wrappanel align-items-center" style="margin-bottom: 5px">
                                                                            <div class="col-7" [ngSwitch]="tag.IssueTagSettings[1].EditorType">
                                                                                <input-box *ngSwitchCase="'NumberInput'"
                                                                                           [placeholder]="tag.IssueTagSettings[1].Name"
                                                                                           [maxlength]="16"
                                                                                           [min]="tag.IssueTagSettings[0].Value || 0"
                                                                                           [type]="'float'"
                                                                                           [(value)]="tag.IssueTagSettings[1].Value"
                                                                                           (valueChange)="onTagValueChange($event, tag);issueTagCheckChange(item)"></input-box>

                                                                            </div>
                                                                            <div class="col-auto">
                                                                                {{tag.IssueTagSettings[1].UnitName}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>

                                                                    <ng-template #oneSettings>
                                                                        <div class="row no-gutters col-wrappanel align-items-center" *ngFor="let setting of tag.IssueTagSettings; index as i" style="margin-bottom: 5px">
                                                                            <div class="col-7" [ngSwitch]="setting.EditorType">
                                                                                <input-box *ngSwitchCase="'NumberInput'"
                                                                                           [placeholder]="setting.Name"
                                                                                           [maxlength]="16"
                                                                                           [min]="0"
                                                                                           [type]="'number'"
                                                                                           [(value)]="setting.Value"
                                                                                           (valueChange)="onTagValueChange($event, tag);issueTagCheckChange(item)"></input-box>
                                                                            </div>

                                                                            <div class="col-auto">
                                                                                {{setting.UnitName}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="row no-gutters col-wrappanel">
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-primary" data-toggle="collapse" [attr.data-target]="'#folder' + item.Id" (click)="onClickedSave(item)">Сохранить</button>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" [attr.data-target]="'#folder' + item.Id" (click)="onClickedCancel(item)">Отмена</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" [attr.data-target]="'#folder' + item.Id" (click)="onClickedAdd(item)"
                                        [ngStyle]="{'display': isIssueEdit(item) ? 'none' : '' }">
                                    Редактировать
                                </button>
                            </div>
                        </div>

                    </section>
                    <footer class="section-footer-content" [ngStyle]="{ 'cursor': isCreateValidSuccess ? 'not-allowed' : 'default' }">
                        <div class="row no-gutters col-wrappanel align-items-center justify-content-end" [ngClass]="{ 'item-display-disabled' : isCreateValidSuccess }" 
                             [ngSwitch]="isShowTemplateSavePanel"
                             style="margin-right: 15px">
                            <div class="col-auto" *ngSwitchCase="false">
                                <button class="btn button-apply button-settemplate-left" (click)="clickedAddToQueue()">
                                    Поставить в очередь
                                </button>
                                <button *appCanAccess="'DA_ADD_FAVORITES'" class="btn btn-darkgreen button-settemplate-right" placement="top" ngbTooltip="Добавить в шаблон"                                        
                                        (click)="isShowTemplateSavePanel = true">
                                    <i class="zmdi zmdi-star"></i>
                                </button>
                            </div>
                            <div class="col" *ngSwitchCase="true" style="padding-left: 10px">
                                <div class="row no-gutters col-wrappanel align-items-center">
                                    <div class="col">
                                        <input-box #inputNameTemplate class="allowance-input-width"
                                                   [placeholder]="'Название шаблона'"
                                                   [maxlength]="128"
                                                   [isFocus]="true"
                                                   [isEnableValidate]="true"
                                                   [(value)]="__value"
                                                   (isCheckValidValue)="isValidSaveTemplate = $event"></input-box>
                                    </div>
                                    <div class="col-auto" [ngStyle]="{ 'cursor': !isValidSaveTemplate ? 'not-allowed' : 'default' }">
                                        <button style="height: 40px; width: 250px;" [ngClass]="{ 'item-display-disabled' : !isValidSaveTemplate}"
                                                type="button" class="btn btn-primary" (click)="clickedAddToQueue((inputNameTemplate || {}).value)">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button style="height: 40px; width:150px" type="button" class="btn btn-outline-secondary" (click)="clickCancelButton()"> Отмена </button>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>
        </div>

    </div>

    <div class="col-auto">

        <header class="main-content-header row">
            <div class="col-auto">
                <div class="row align-items-center" style="width:330px">
                    <div class="col">
                        <h4>Оборудование анализа</h4>
                    </div>
                    <!--<div class="col-auto" style="padding-right: 5px;">
                        <button type="button" (click)="clearAllBasket()" class="btn btn-outline-secondary"
                                style="border-color: #fff;color:#fff">
                            Сброс
                        </button>
                    </div>-->
                </div>
            </div>
        </header>

        <div class="col-objects-ro5">

            <message-popup [(messages)]="errorsObjectsValidationForms"></message-popup>
            <loader-ro5 [(loading)]="loadingRightPanel"></loader-ro5>

            <ng-container *ngIf="JobObjects != null">
                <frame-objects-panel #ObjectsPanel [DataSource]="JobObjects" [IsSelected]="true" [IsRemoved]="true" (OnRemoveListItem)="onRemoveJobObjects($event)"></frame-objects-panel>
            </ng-container>
                
            <ng-container *ngIf="Nodes != null">
                <treelist-checked-panel #treePanel
                                        [TabViewMode]="true"
                                        [TreeListItems]="treePanel.TreeListItems || treeListCheckedService.getTreeListItems(basketHeaderMenu)"
                                        [Tree]="Nodes | filterRow:changeDetection" 
                                        ChildDataName="LogicDevices" 
                                        KeyField="Id"
                                        DisplayField="DisplayName"
                                        AdditionalField="DisplayNameNodeView"
                                        (removeListItems)="removeListItems($event)"></treelist-checked-panel>    
            </ng-container>
            
        </div>

    </div>
</div>
