<header class="main-content-header row">
  <div class="col-auto">
    <backward-button></backward-button>
  </div>
  <div class="col main-header-text" [ngSwitch]="!isNew">
    <div *ngSwitchCase="true">
      <h3> Карточка расписания</h3>
      <div class="label-info"> {{ scheduleTypeName | pipeNoName }} </div>
    </div>
    <h3 *ngSwitchCase="false"> Новое расписание </h3>
  </div>
  <ng-container *ngIf="!isNew">
  <div class="main-header-navigation">

    <ng-template #templateNavItem let-navItem="navItem">
      <rom-forms__navigate-item-template [navItem]="navItem"></rom-forms__navigate-item-template>
    </ng-template>

    <navigate-menu-ro5 [templateNavItem]="templateNavItem" [items]="menuItems"></navigate-menu-ro5>
  </div>
  </ng-container>
</header>
<div class="main-view-content">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>