<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<div class="main-view-content height-auto main-view-result">
    <div class="col col-content-ro5">

        <ng-container *ngIf="errorLoadEntity != null">
            <div class="row no-gutters-2 justify-content-center message-margin__top_bottom">
                <div class="col-auto">
                    <h4>{{ errorLoadEntity.ShortMessage }}</h4>
                </div>
            </div>
            <div class="row no-gutters-2 justify-content-center">
                <div class="col-auto">
                    <button-ro5 [class]="'btn-outline-secondary'" (onclick)="goBack()">
                        {{'ReturnToPrevPage' | transloco}}
                    </button-ro5>
                </div>
            </div>
        </ng-container>

        <div class="col-content-flex-column" *ngIf="errorLoadEntity == null">
            <section class="section-body-content section-panel-two-columns-settings">
                <header *ngIf="showHeaderPropertyEdit" class="section-header-grouppanel-expander row no-gutters border-bottom-1">
                    <div class="col">
                        <h5>{{'Main' | transloco}}</h5>
                    </div>
                    <div *ngIf="isNew" class="col-auto">
                        <rom-uploader
                          multiple="true"
                          asBlob="true"
                          acceptType=".pdf,.doc,.docx,.xls,.xlsx,."
                          (onFileUpload)="onFileUpload($event)"
                          (onWrongFileUpload)="onError($event)">
                        </rom-uploader>
                    </div>
                    <div *ngIf="!isNew" class="col"></div>
                    <div *ngIf="document?.Direction?.Code === 'FromCustomer' && !isNew" class="col-auto">
                        <button-ro5 [class]="'btn btn-primary'" (onclick)="onAnswer()">Ответить</button-ro5>
                    </div>
                </header>

                <section id="propertySection" class="collapse show">

                    <section class="section-panel-two-columns-settings" *ngIf="_properties">
                        <div class="row no-gutters-2 border-bottom-1" *ngFor="let prop of _properties;let i= index">
                            <div class="col-2">
                                <span> {{ prop.Name }} </span><span *ngIf="isPropEdit && prop.IsRequired" class="error-required-color">&nbsp;*</span>
                            </div>
                            <div class="col-10 word-break-all">
                                <ng-container [ngSwitch]="isPropEdit && !prop.ReadOnly">

                                    <ng-container *ngSwitchCase="true">
                                        <ng-container [ngSwitch]="prop.Type">
                                            <input-box *ngSwitchCase="'String'" 
                                                [placeholder]="'EnterName' | transloco"
                                                [(value)]="prop.Value"
                                                [isFocus] = "i === indexTypestring" 
                                                [maxlength]="90"></input-box>
                                            
                                            <textarea 
                                                *ngSwitchCase="'MultiString'" 
                                                maxlength="300"
                                                class="form-control"
                                                [(ngModel)]="prop.Value"
                                                [placeholder]="prop.Name"></textarea>

                                            <combo-box-ro5 *ngSwitchCase="'Option'"
                                                [keyField]="'Id'"
                                                [valueField]="'Name'"
                                                [value]="prop.Value"
                                                [itemsInput]="prop.arrayValues"
                                                (onSelected)="prop.Value = $event; cascadePropertyChange(prop)"
                                                (event)="eventDropDown($event, prop)"></combo-box-ro5>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="false">
                                        <ng-container [ngSwitch]="prop.Type">
                                            <div *ngSwitchCase="'Bool'">
                                                {{ prop.Value ? ('Yes' | transloco) : ('No' | transloco) }}
                                            </div>
                                            <div *ngSwitchCase="'Option'">
                                                {{ prop.Value?.Name }}
                                            </div>
                                            <div *ngSwitchCase="'DateTime'">
                                                {{ prop.Value | dateTimeFormat }}
                                            </div>
                                            <div *ngSwitchDefault>
                                                {{ prop.Value || prop.IsNullName }}
                                            </div>
                                        </ng-container>
                                    </ng-container>

                                    

                                </ng-container>
                            </div>
                        </div>

                        <ng-content></ng-content>
                    </section>
                    
                    <ng-template
                        [ngTemplateOutlet]="template"
                        [ngTemplateOutletContext]="{ edit: isPropEdit }">
                    </ng-template>                    

                </section>
                <section *ngIf="document?.AttachmentNames" class="section-body-content">
                    <ng-container *ngFor="let attachName of document?.AttachmentNames; let i=index;">
                      <header data-toggle="collapse" [attr.data-target]="'#logicDeviceGroupSection' + i"
                        [attr.aria-controls]="'#logicDeviceGroupSection' + i"
                        class="section-header-grouppanel-expander row no-gutters border-bottom-1 tags-header">
                        <div class="col-auto">
                          <h5> {{ attachName }} </h5>
                        </div>
                        <div class="col"></div>
                        <div *ngIf="document?.Attachments && document?.Attachments?.length" class="col-auto">
                          <a href="javascript:void(0)" (click)="downloadFile(document.Attachments); $event.stopPropagation()">Скачать</a>
                        </div>                
                        <div class="col-auto">
                          <button data-toggle="collapse" [attr.data-target]="'#logicDeviceGroupSection' + i"
                            [attr.aria-controls]="'#logicDeviceGroupSection' + i"
                            class="section-header-grouppanel-expander row no-gutters border-bottom-1 tags-header"
                            [ngClass]="document?.AttachmentNames?.length ? 'transform-rotate-show': 'transform-rotate-collapsed'"
                            class="btn-outline-circle btn-circle-size-32">
                            <i class="zmdi zmdi-chevron-right"></i>
                          </button>
                        </div>
                      </header>
                      <section #parentScroll [attr.id]="'logicDeviceGroupSection' + i" [ngClass]="document?.Attachments ? 'show': 'collapse'" class="list-view-container">
                        <div class="row no-gutters-2 border-bottom-1 height-50 align-items-center" *ngFor="let attachment of document?.Attachments">
                          <div class="col">{{ attachment.FileName }}</div>
                        </div>
                      </section>
                    </ng-container>
                  </section>
            </section>

            <footer class="section-footer-content" *ngIf="isPropEdit">
                <div class="row no-gutters-2 align-items-center">
                    <div class="col">
                        <div class="row no-gutters col-wrappanel align-items-center">
                            <div class="col-auto">
                                <button-ro5 [class]="'btn-primary'" (onclick)="saveEntity()">                                    
                                    {{ 'Add' | transloco }}
                                </button-ro5>
                            </div>
                            <div class="col-auto">
                                <button-ro5 [class]="'btn-outline-secondary'" (onclick)="cancel()">
                                    {{'Cancelation' | transloco}}
                                </button-ro5>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>