<message-popup [(messages)]="errors"></message-popup>
<loader-ro5 [(loading)]="loadingContent"></loader-ro5>
<div class="main-view-content">

    <div class="col col-content-ro5 border-right-1">
        <header class="section-header-content row">
            <div class="col-auto">
                <h5>Котловые тарифы</h5>
            </div>
            <div class="col"></div>
            <div class="col-auto" *appCanAccess="'TC_TRANSFER_TARIFF_ADD'">
                <button-ro5 [class]="'btn btn-primary'" (onclick)="addNewItem()">
                    + Добавить
                </button-ro5>
            </div>
        </header>

        <data-grid-ro5 #Ro5DataGrid (onActionButtonClicked)="onActionButtonClicked($event)">
            <ng-template #orderNumberColumnTemplate let-item="item">
                <a [routerLink]="[
                        '../../' + idRegion + '/transfers/' + item.Id
                    ]" [innerHTML]="item.OrderNumber | markerText: dataGrid.SearchFilter">
                </a>
            </ng-template>            
            <ng-template #dateColumnTemplate let-item="item">
                <span [innerHTML]="item.Date | dateFormat | markerText: dataGrid.SearchFilter">
                </span>
            </ng-template>
            <ng-template #orderDateColumnTemplate let-item="item">
                <span [innerHTML]="item.OrderDate | dateFormat | markerText: dataGrid.SearchFilter">
                </span>
            </ng-template>
            <ng-template #supplyOrgColumnTemplate let-item="item">
                <span [innerHTML]="item?.SupplyOrganizationType?.Name | markerText: dataGrid.SearchFilter">
                </span>
            </ng-template>
        </data-grid-ro5>
    </div>
</div>